.banner{
  /* background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%); */
  background-color: #4258B3 !important;

  height:400px;
}
.navbar-main{
  position: static;
  top: 0;
  width:100%;
  background-color: #4258B3 !important;
}

.custom-card {
  width: 100%;
  margin-bottom: 30px;
  background: #c1c4d247;
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid transparent;
  border-bottom: 5px solid transparent;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.custom-card:hover {
  border-bottom: 5px solid rgb(227, 242, 20);

  /* border: 1px solid rgb(227, 242, 20); */
  -webkit-transform: translate(20px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(0, -10px );
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.img-blog {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
}
.tab-position{
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.blogs-main{
  background-color: #4258B3;
}
.search-input{
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 23px;
  border-bottom: 2px solid white;
}
.search-input:focus{
outline: none;
}
.search-icon{
  position: relative;
  left: 20px;
color: white;
}